body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    overflow-x: hidden; /* Hide horizontal scrollbar */
	background-color:aquamarine ;
}

.section1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    background-color: #000000;
    color: #4c00ffb6;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease-in;
    position: relative;
    z-index: 2;
}

.section2 {

    display: flex;
    height: fit-content;
    justify-content:center;
    align-items:flex-start;
    flex-shrink: 1;
    background-color: #000000; /* Light background color */
    color: aquamarine; /* Contrast text color */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.content {
    text-align: center;
}



h1, h2 {
    font-size: 5vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 10px; /* Add some padding for better readability on small screens */
    transition: font-size 0.003s ease; /* Smooth font size transition */
}

/* Media query for smaller screens */
@media (max-width: 300px) {
    h1, h2 {
        font-size: 5vw;
    }
    h4 {
        font-size: 2vw;
    }
    ul {
        font-size: 1.5vw;
    }
    .section3 {
        height: 40vb;
    }
}

/* Fallback for very large screens */
@media (min-width: 1200px) {
    h1, h2 {
        font-size: 5vw;
    }
    h4 {
        font-size: 2vw;
    }
    ul {
        font-size: 1.5vw;
    }
    .section3 {
        height: 60vb;
    }
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000; /* Dark background color */
    padding: 10px 0;
    z-index: 3; /* Ensure navbar is on top of other sections */
}

.navbar ul {
    display: flex;
    flex-shrink: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around; /* Items evenly spaced */
}

.navbar a {
    color: #626262;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease, opacity 0.5s ease; /* Add opacity transition */
    display: block;
    padding: 10px 0;
    opacity: 1; /* Initial opacity */
}

.navbar a.hidden {
    opacity: 0; /* Hide links with opacity */
    pointer-events: none; /* Disable pointer events for hidden links */
}


.navbar a:hover {
    color: #ffffff; /* Lighter color on hover */
}

.hidden {
    display: none;
}

/* Basic styling for the slider */
.slider-container {
    width: 100%;
    margin: 20px auto;
    position: relative;
    text-align: center;
}

.slider-values {
    position: relative;
    height: 20px;
    margin-bottom: 10px;
    
}

.slider-label {
    position: absolute;
    transform: translateX(-50%);
    font-size: .9vw;
    color: #333;
    justify-content: space-around;
}

#year-slider {
    width: 100%;
    margin-top: .5vw;
    flex-shrink: 1;
}

/* Webkit browsers (Chrome, Safari) */
#year-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border: none;
    border-radius: 4px;
}

#year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -6px; /* Adjust thumb position */
}

#year-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* Firefox */
#year-slider::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border: none;
    border-radius: 4px;
}

#year-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
}

#year-slider:focus::-moz-range-track {
    background: #ccc;
}

/* IE and Edge */
#year-slider::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent; /* Hides the default track */
    border-color: transparent;
    color: transparent;
}

#year-slider::-ms-fill-lower {
    background: #ddd;
    border-radius: 4px;
}

#year-slider::-ms-fill-upper {
    background: #ddd;
    border-radius: 4px;
}

#year-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 0; /* Adjust thumb position */
}


#selected-year {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #eb0000;
}

#section3 {
	display: flex;
	height: 60vb;
    flex-shrink: 1;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

p {
    font-size: 2vw;
}

h4 {
	padding-top: 10px;
	font-size: 2vw;
	font-weight:bold;
	margin: 0 10px; /* Add some padding for better readability on small screens */
    transition: font-size 0.0s ease; /* Smooth font size transition */
}

ul {
	list-style-type: none;
    font-size: 1.3vw;
}

.newli {
    list-style: circle;
	text-align: left;
    padding: 1vh;
}

#current-value {
    color: aquamarine;
    font-size: 1.5vw;
}

.hiddenSection {
	display: none; /* Initially hide the section */
	height: 60vb;
    display: flex;
    justify-content:center;
	margin-top: 0%;
    align-items:center;
	color: #eb0000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
