body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.section1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* Dark background color */
    color: #ffffff; /* Contrast text color */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    position: relative;
    z-index: 2; /* Ensure section1 is on top */
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Light background color */
    color: #000000; /* Contrast text color */
    font-family: Arial, sans-serif;
    text-align: center;
}

.content {
    text-align: center;
}

h1, h2 {
    font-size: 5vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 10px; /* Add some padding for better readability on small screens */
    transition: font-size 0.3s ease; /* Smooth font size transition */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    h1, h2 {
        font-size: 7vw;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000; /* Dark background color */
    padding: 10px 0;
    z-index: 3; /* Ensure navbar is on top of other sections */
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around; /* Items evenly spaced */
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, opacity 0.3s ease; /* Add opacity transition */
    display: block;
    padding: 10px 0;
    opacity: 1; /* Initial opacity */
}

.navbar a.hidden {
    opacity: 0; /* Hide links with opacity */
    pointer-events: none; /* Disable pointer events for hidden links */
}


.navbar a:hover {
    color: #2e2e2e; /* Lighter color on hover */
}

.hidden {
    display: none;
}
